.backgroundBlur {
	position: fixed;
	inset: 0;
	background-size: cover;
	background-position: center;
	filter: blur(10px);
	z-index: -1;
	transition: background-image 0.4s ease;
	transform: scale(1.1);
}
